@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

img{
    width: 25px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

:root{
    --primary-color : #fff;
    --text-color : #0e141b;
    --buttton: #e7edf3;
}